<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <!-- Static css -->
  <link rel="stylesheet" href="../static/css/style.css">

  <!-- Static js -->
  <script src="../static/js/test.js"></script>

  <title>BMS -
    SignUp
  </title>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><em class="bi bi-bank2"></em> Bank Management System</a>

      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">ej,huilehlk</span>
      </button> -->

      <div class="collapse navbar-collapse " id="navbarNav">
        <!-- <ul class="navbar-nav ms-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#">Welcome, {{current_user.first_name}} {{ current_user.last_name }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul> -->

        <ul class="navbar-nav ms-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>


  <div class="section-container">
    <p> The site is under construction, Sorry for the inconvinience.</p>
  </div>

  <!-- Footer -->
  <footer class="text-center text-white fixed-bottom md-10">
    <div class="footer-div">
      <p class="text-muted">Copyright ©️ 2021: Designed for DBMS Mini-project</p>
    </div>
  </footer>




</body>

</html>
<div class="container" id="signup-form">
    <form action="#" method="POST" id="form-s">
        <h2>Sign up</h2>
    </form>
</div>
